div {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
}

h1,
h2 {
    text-align: center;
}

a {
    padding: 10px;
    border-radius: 25px;
    background-color: fuchsia;
    color: white;
}
a:hover {
    background-color: limegreen;
}
span {
    font-weight: bold;
    font-style: italic;
    color: fuchsia;
    font-size: 30px;
}
Szabad {
    font-weight: bold;
    font-style: italic;
    color: lightslategray;
    font-size: 40px;
}

#listak {
    background-color: limegreen;
}

img {
    display: block;
    margin: auto;
}
.megisfeher {
    background-color: lightgray;
    width: 200px;
    border-radius: 25px;
    color: fuchsia;
}
.felsorolas {
    font-style: italic;
    font-size: larger;
    color: fuchsia;
    font-weight: bold;
}